<div class="container">
  <div class="row">
    <main class="col-md-12">
      <!-- Start your code here -->
      <br />
      <br />
      <h2>72 - One of A Kind In The World</h2>
      <br />
      <br />
      <img src="https://www.modern-notoriety.com/wp-content/uploads/2014/08/nike-kobe-9-china-1.jpg" width="1000" height="500" alt="Kobe 9 China">
      <br />
      <br />
      <br />
      <br />
      <div class="inline-hot-right-now">
      <h2 class="hot-right-now">Hot Right Now</h2>
      <p class="see-all"><a href="/hot-right-now" >See All</a></p>
          </div>
      <br />
      <div class="image-container">
        <div class="image-slide">
          <a href="/adidas-yeezy-boost-350-v2-zebra" style="color:black;">
          <div class="image-single">
<img src="https://i.ibb.co/S7tybxR/Wechat-IMG34.jpg" width="230" alt="Yeezy 350">
            
            <p class="css-desc-text">Adidas Yeezy Boost 350 V2 Zebra</p>
            
        </div>
          </div>
          </a>

          <div class="image-slide">
            <a href="/adidas-trey-young-1-ice-trae" style="color:black;">
            <div class="image-single">
              
              <img src="https://i.ibb.co/HztX0Jw/Wechat-IMG35.jpg" width="230" alt="Trae Young 1">
              
              <p class="css-desc-text">Adidas Trey Young 1 Ice Trae</p>
          </div>
            </div>
            </a>

          <div class="image-slide">
            <a href="/adidas-dame-7" style="color:black;">
            <div class="image-single">
              
              <img src="https://i.ibb.co/MC7wTKy/Wechat-IMG36.jpg" width="230" alt="Dame 7">
              
              <p class="css-desc-text">Adidas Dame 7</p>
          </div>
            </div>
            </a>
          
          <div class="image-slide">
            <a href="/jordan-xxxv-low" style="color:black;">
            <div class="image-single">
              
              <img src="https://i.ibb.co/fY9QbSv/Wechat-IMG37.jpg" width="230" alt="Jordan XXXI Low">
              
              <p class="css-desc-text">Jordan XXXI Low Oreo</p>
          </div>
            </div>
            </a>
      </div>

      <div class="inline-new-release">
      <h2 class="new-release">New Release</h2>
      <p class="see-all"><a href="/new-release" >See All</a></p>
          </div>
      <br />
      <div class="image-container">
        <div class="image-slide">
          <a href="/adidas-yeezy-boost-350-v2-zebra" style="color:black;">
          <div class="image-single">
<img src="https://i.ibb.co/S7tybxR/Wechat-IMG34.jpg" width="230" alt="Yeezy 350">
            
            <p class="css-desc-text">Adidas Yeezy Boost 350 V2 Zebra</p>
            
        </div>
          </div>
          </a>

          <div class="image-slide">
            <a href="/adidas-trey-young-1-ice-trae" style="color:black;">
            <div class="image-single">
              
              <img src="https://i.ibb.co/HztX0Jw/Wechat-IMG35.jpg" width="230" alt="Trae Young 1">
              
              <p class="css-desc-text">Adidas Trey Young 1 Ice Trae</p>
          </div>
            </div>
            </a>

          <div class="image-slide">
            <a href="/adidas-dame-7" style="color:black;">
            <div class="image-single">
              
              <img src="https://i.ibb.co/MC7wTKy/Wechat-IMG36.jpg" width="230" alt="Dame 7">
              
              <p class="css-desc-text">Adidas Dame 7</p>
          </div>
            </div>
            </a>
          
          <div class="image-slide">
            <a href="/jordan-xxxv-low" style="color:black;">
            <div class="image-single">
              
              <img src="https://i.ibb.co/fY9QbSv/Wechat-IMG37.jpg" width="230" alt="Jordan XXXI Low">
              
              <p class="css-desc-text">Jordan XXXI Low Oreo</p>
          </div>
            </div>
            </a>
      </div>

      <div class="inline-new-release">
      <h2 class="new-release">On Sale</h2>
      <p class="see-all"><a href="/new-release" >See All</a></p>
          </div>
      <br />
      <div class="image-container">
        <div class="image-slide">
          <a href="/adidas-yeezy-boost-350-v2-zebra" style="color:black;">
          <div class="image-single">
<img src="https://i.ibb.co/S7tybxR/Wechat-IMG34.jpg" width="230" alt="Yeezy 350">
            
            <p class="css-desc-text">Adidas Yeezy Boost 350 V2 Zebra</p>
            
        </div>
          </div>
          </a>

          <div class="image-slide">
            <a href="/adidas-trey-young-1-ice-trae" style="color:black;">
            <div class="image-single">
              
              <img src="https://i.ibb.co/HztX0Jw/Wechat-IMG35.jpg" width="230" alt="Trae Young 1">
              
              <p class="css-desc-text">Adidas Trey Young 1 Ice Trae</p>
          </div>
            </div>
            </a>

          <div class="image-slide">
            <a href="/adidas-dame-7" style="color:black;">
            <div class="image-single">
              
              <img src="https://i.ibb.co/MC7wTKy/Wechat-IMG36.jpg" width="230" alt="Dame 7">
              
              <p class="css-desc-text">Adidas Dame 7</p>
          </div>
            </div>
            </a>
          
          <div class="image-slide">
            <a href="/jordan-xxxv-low" style="color:black;">
            <div class="image-single">
              
              <img src="https://i.ibb.co/fY9QbSv/Wechat-IMG37.jpg" width="230" alt="Jordan XXXI Low">
              
              <p class="css-desc-text">Jordan XXXI Low Oreo</p>
          </div>
            </div>
            </a>
      </div>
        

      <!-- End your code here  -->
    </main>
  </div>
</div>
