<div class="container">
  <div class="row">
    <main class="col-md-12">
      <hr />
      <h2>Sneakers</h2>
      <br />
      <div class="browse-shoes">
      <div class="product-title">
        <div class="product">
      <a href="/kobe-v-protro" style="color:black;">
      <div class="css-whole">
      <div class="css-p1">
      <div class="css-p2">
      <img src="https://i.ibb.co/r3dkkZh/kobevprotro.jpg" alt="Kobe V Protro" 
        width="250" />  
      </div>  
      </div>
      <div class="css-desc">
        <p class="css-desc-text">Nike Kobe V Protro</p>
      <div>
        <div class="price-line">
          <p class="price-text1">Price(CA)</p>
          <p class="price-text2">$700</p>
        </div>
      </div>
      </div>
      </div>
      
      </a>
      </div>
      </div>  

      <div class="product-title">
        <div class="product">
      <a href="/nike-air-zoom-g-t-cut" style="color:black;">
      <div class="css-whole">
      <div class="css-p1">
      <div class="css-p2">
      <img
        src="https://i.ibb.co/Qr1BDxf/Nike-Air-Zoom-G-T-Cut.jpg"
        width="250"
        alt="Nike Air Zoom G.T. Cut"
      />
      </div>  
      </div>
      <div class="css-desc">
        <p class="css-desc-text">Nike Air Zoom G.T. Cut</p>
      <div>
        <div class="price-line">
          <p class="price-text1">Price(CA)</p>
          <p class="price-text2">$300</p>
        </div>
      </div>
      </div>
      </div>
      
      </a>
      </div>
      </div>  

      <div class="product-title">
        <div class="product">
      <a href="/jordan-xxxv-low" style="color:black;">
      <div class="css-whole">
      <div class="css-p1">
      <div class="css-p2">
      <img
        src="https://i.ibb.co/fnMm2JD/Jordan-XXXV.jpg"
        width="250"
        alt="Jordan XXXV Low"
      />
      </div>  
      </div>
      <div class="css-desc">
        <p class="css-desc-text">Jordan XXXV Low</p>
      <div>
        <div class="price-line">
          <p class="price-text1">Price(CA)</p>
          <p class="price-text2">$250</p>
        </div>
      </div>
      </div>
      </div>
      
      </a>
        </div>
      </div>
      <div class="product-title">
        <div class="product">
      <a href="/nike-lebron-soldier-14" style="color:black;">
      <div class="css-whole">
      <div class="css-p1">
      <div class="css-p2">
      
      <img
        src="https://i.ibb.co/cyFBLBc/Wechat-IMG33.jpg"
        width="250"
        alt="Nike Lebron Soldier 14"
      />
      </div>  
      </div>
      <div class="css-desc">
        <p class="css-desc-text">Nike Lebron Soldier 14</p>
      <div>
        <div class="price-line">
          <p class="price-text1">Price(CA)</p>
          <p class="price-text2">$150</p>
        </div>
      </div>
      </div>
      </div>
      
      </a>
        </div>
      </div>
      <div class="product-title">
        <div class="product">
      <a href="/adidas-yeezy-boost-350-v2-zebra" style="color:black;">
      <div class="css-whole">
      <div class="css-p1">
      <div class="css-p2">
        
      <img
        src="https://i.ibb.co/S7tybxR/Wechat-IMG34.jpg"
        width="250"
        alt="Adidas Yeezy Boost 350 V2 Zebra"
      />
      </div>  
      </div>
      <div class="css-desc">
        <p class="css-desc-text">Adidas Yeezy Boost 350 V2 Zebra</p>
      <div>
        <div class="price-line">
          <p class="price-text1">Price(CA)</p>
          <p class="price-text2">$550</p>
        </div>
      </div>
      </div>
      </div>
      
      </a>
      </div>
      </div>
      <div class="product-title">
        <div class="product">
      <a href="/adidas-trey-young-1-ice-trae" style="color:black;">
      <div class="css-whole">
      <div class="css-p1">
      <div class="css-p2">
        
      <img
        src="https://i.ibb.co/HztX0Jw/Wechat-IMG35.jpg"
        width="250"
        alt="Adidas Trey Young 1 Ice Trae"
      />
      </div>  
      </div>
      <div class="css-desc">
        <p class="css-desc-text">Adidas Trey Young 1 Ice Trae</p>
      <div>
        <div class="price-line">
          <p class="price-text1">Price(CA)</p>
          <p class="price-text2">$250</p>
        </div>
      </div>
      </div>
      </div>
      
      </a>
      </div>
      </div>
      <div class="product-title">
        <div class="product">
      <a href="/adidas-dame-7" style="color:black;">
      <div class="css-whole">
      <div class="css-p1">
      <div class="css-p2">
        
      <img
        src="https://i.ibb.co/MC7wTKy/Wechat-IMG36.jpg"
        width="250"
        alt="Adidas Dame 7"
      />
      </div>  
      </div>
      <div class="css-desc">
        <p class="css-desc-text">Adidas Dame 7</p>
      <div>
        <div class="price-line">
          <p class="price-text1">Price(CA)</p>
          <p class="price-text2">$150</p>
        </div>
      </div>
      </div>
      </div>
      
      </a>
      </div>
      </div>
      <div class="product-title">
        <div class="product">
      <a href="/jordan-xxxi-low-oreo" style="color:black;">
      <div class="css-whole">
      <div class="css-p1">
      <div class="css-p2">
        
      <img
        src="https://i.ibb.co/fY9QbSv/Wechat-IMG37.jpg"
        width="250"
        alt="Jordan XXXI Low Oreo"
      />
      </div>  
      </div>
      <div class="css-desc">
        <p class="css-desc-text">Jordan XXXI Low Oreo</p>
      <div>
        <div class="price-line">
          <p class="price-text1">Price(CA)</p>
          <p class="price-text2">$300</p>
        </div>
      </div>
      </div>
      </div>
      
      </a>
        </div>
      </div>        

  
      </div>
      <br />
      <br />
      <hr />
      <h2>Audio</h2>
      <br />
      <audio controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
          type="audio/mp3"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg"
          type="audio/ogg"
        />
        <br />
        <p>
          Sorry, your browser doesn't support HTML5 audio. Here is a
          <a
            href="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
            >link to the audio</a
          >
          instead
        </p>
        .
      </audio>
      <br />
      <br />
      <p>This is demo Audio.</p>
      <br />
      <hr />
      <br />
      <h2>Video</h2>

      <video width="320" height="240" controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
          type="video/mp4"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg"
          type="video/ogg"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm"
          type="video/webm"
        />
        <br />
        <p>Sorry, your browser doesn't support HTML5 video</p>
      </video>
      <br />
      <br />
      <p>This is demo Video.</p>

      <!-- End your code here  -->
    </main>
  </div>
</div>
