<div class="container">
  <div class="row">
    <main class="col-md-12">
      <hr />
      <h2>Sneakers</h2>
      <br />
      <div class="browse-shoes">
      <div class="product-title">
      <a href="/kobe-v-protro" style="color:black;">
      <div class="css-whole">
      <div class="css-p1">
      <div class="css-p2">
      <img src="https://i.ibb.co/r3dkkZh/kobevprotro.jpg" alt="Kobe V Protro" 
        width="250" />  
      </div>  
      </div>
      <div class="css-desc">
        <p class="css-desc-text">Nike Kobe V Protro</p>
      <div>
        <div class="price-line">
          <p class="price-text">Price(CA)</p>
          <p class="price-text">$700</p>
        </div>
      </div>
      </div>
      </div>
      
      </a>
      </div>  

      <div class="product-title">
      <a href="/nike-air-zoom-g-t-cut" style="color:black;">
      <div class="css-whole">
      <div class="css-p1">
      <div class="css-p2">
      <img
        src="https://i.ibb.co/Qr1BDxf/Nike-Air-Zoom-G-T-Cut.jpg"
        width="250"
        alt="Nike Air Zoom G.T. Cut"
      />
      </div>  
      </div>
      <div class="css-desc">
        <p class="css-desc-text">Nike Air Zoom G.T. Cut</p>
      <div>
        <div class="price-line">
          <p class="price-text">Price(CA)</p>
          <p class="price-text">$300</p>
        </div>
      </div>
      </div>
      </div>
      
      </a>
      </div>  

      <div class="product-title">
      <a href="/jordan-xxxv-low" style="color:black;">
      <div class="css-whole">
      <div class="css-p1">
      <div class="css-p2">
      <img
        src="https://i.ibb.co/fnMm2JD/Jordan-XXXV.jpg"
        width="250"
        alt="Jordan XXXV Low"
      />
      </div>  
      </div>
      <div class="css-desc">
        <p class="css-desc-text">Jordan XXXV Low</p>
      <div>
        <div class="price-line">
          <p class="price-text">Price(CA)</p>
          <p class="price-text">$250</p>
        </div>
      </div>
      </div>
      </div>
      
      </a>
      </div>      
      </div>
      <br />
      <br />
      <hr />
      <h2>Audio</h2>
      <br />
      <audio controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
          type="audio/mp3"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg"
          type="audio/ogg"
        />
        <br />
        <p>
          Sorry, your browser doesn't support HTML5 audio. Here is a
          <a
            href="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
            >link to the audio</a
          >
          instead
        </p>
        .
      </audio>
      <br />
      <br />
      <p>This is demo Audio.</p>
      <br />
      <hr />
      <br />
      <h2>Video</h2>

      <video width="320" height="240" controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
          type="video/mp4"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg"
          type="video/ogg"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm"
          type="video/webm"
        />
        <br />
        <p>Sorry, your browser doesn't support HTML5 video</p>
      </video>
      <br />
      <br />
      <p>This is demo Video.</p>

      <!-- End your code here  -->
    </main>
  </div>
</div>
