<div class="container">
  <div class="row">
    <main class="col-md-12">
      <!-- Start your code here -->
      <form action="/students/add" method="post">
        <fieldset>
          <legend>Information</legend>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>First Name:</label>
                <input class="form-control" name="firstName" type="text" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name:</label>
                <input class="form-control" name="lastName" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" name="email" type="email" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Password</label>
                <input class="form-control" name="password" type="password" />
              </div>
            </div>
          </div>
        </fieldset>
        
        <hr />
        <input
          type="submit"
          class="btn btn-primary float-right"
          value="Sign Up"
        /><br /><br /><br />
      </form>
      <!-- End your code here  -->
    </main>
  </div>
</div>
