@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: blue;
  background: linear-gradient(
    to bottom,
    rgb(154, 154, 197),
    rgb(180, 179, 179)
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
  box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
}

.navbar-light a.navbar-brand {
  font-family: "Great Vibes", cursive;
  color: gold;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.collapse.navbar-collapse a.nav-link {
  font-family: "Great Vibes", cursive;
  color: purple;
}

div.collapse.navbar-collapse a.nav-link:hover {
  color: gold;
}

.css-search {
  border: 1px solid;
  outline-offset: 2px;
  padding-left: 20px;
  padding-right: 100px;
  margin-left: 20px;
  width: 400px;
}

body {
  background: rgb(235, 186, 235);
  background: linear-gradient(
    to bottom,
    rgba(54, 54, 54, 0.514),
    rgb(201, 201, 207)
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.btn.btn-primary {
  background: rgb(235, 186, 235);
  background: linear-gradient(
    to bottom,
    rgb(163, 116, 240),
    rgb(201, 201, 207)
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
  box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
}

input.btn.btn-primary:hover {
  color: rgb(81, 230, 81);
}

tbody tr:nth-child(odd) {
  background: rgb(235, 186, 235);
  background: linear-gradient(
    to bottom,
    rgb(163, 116, 240),
    rgb(201, 201, 207)
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
}

h2 {
  font-family: "Great Vibes", cursive;
  color: gold;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.container .row .col-md-12 a {
  color: purple;
}

.container .row .col-md-12 a:hover {
  color: gold;
}

.container .row .col-md-12 legend {
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: "Great Vibes", cursive;
  color: yellow;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.row,
.row legend,
.row h2 {
  padding-left: 20px;
  padding-right: 20px;
}

.browse-shoes {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.product-title {
  width: 25%;
  padding: 0px 8px 16px;
}

.product {
  width: auto;
  max-width: 100%;
  border-radius: 3px;
  height: auto;
  width: 152px;
  position: relative;
}

.css-whole {
  display: flex;
  flex-direction: column;
  border-color: grey;
}

.css-p1 {
  margin: 16px;
}

.css-p2 {
  display: flex;
  /* -webkit-box-pack: center;
  justify-content: center; */
  max-width: 100%;
  margin: 0px auto;
}

.css-desc {
  display: flex;
  flex-direction: column;
  background-color: var(--chakra-colors-neutral-100);
  padding: var(--chakra-space-4);
  text-align: left;
}

.css-desc-text {
  color: var(--chakra-colors-neutral-black);
  font-weight: var(--chakra-fontWeights-medium);
  line-height: 1.3;
  overflow: hidden;
  padding-left: 20px;
  width: 200px;
}

.price-text1 {
  letter-spacing: 0.004rem;
  color: var(--chakra-colors-neutral-500);
  text-transform: capitalize;
  font-size: var(--chakra-fontSizes-xs);
  font-family: var(--chakra-fonts-suisseIntlMedium);
  overflow: hidden;
  margin-top: 0.25rem;
  line-height: 1.3;
  padding-left: 20px;
}

.price-text2 {
  letter-spacing: 0.004rem;
  color: black;
  text-decoration: 2px solid;
  font-size: x-large;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 20px;
}
