@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");
.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: blue;
  background: linear-gradient(
    to bottom,
    rgb(154, 154, 197),
    rgb(180, 179, 179)
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
  box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
}

.navbar-light a.navbar-brand {
  font-family: "Vujahday Script", cursive;
  color: gold;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.collapse.navbar-collapse a.nav-link {
  font-family: "Vujahday Script", cursive;
  color: purple;
}

div.collapse.navbar-collapse a.nav-link:hover {
  color: gold;
}

.css-search {
  border: 1px solid;
  outline-offset: 2px;
  padding-left: 20px;
  padding-right: 100px;
  margin-left: 20px;
  width: 400px;
}

body {
  /* background: rgb(235, 186, 235); */
  background: linear-gradient(
    to bottom,
    rgba(54, 54, 54, 0.514),
    rgb(201, 201, 207)
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.btn.btn-primary {
  background: rgb(235, 186, 235);
  background: linear-gradient(
    to bottom,
    rgb(163, 116, 240),
    rgb(201, 201, 207)
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
  box-shadow: 10px 10px 5px 0px rgba(155, 220, 242, 1);
}

input.btn.btn-primary:hover {
  color: rgb(81, 230, 81);
}

h2 {
  font-family: "Vujahday Script", cursive;
  color: gold;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.container .row .col-md-12 a {
  color: purple;
}

.container .row .col-md-12 a:hover {
  color: gold;
}

.container .row .col-md-12 legend {
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: "Vujahday Script", cursive;
  color: yellow;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.row,
.row legend,
.row h2 {
  padding-left: 20px;
  padding-right: 20px;
}

.browse-shoes {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.product-title {
  width: 25%;
  padding: 0px 8px 16px;
}

.product {
  width: auto;
  max-width: 100%;
  border-radius: 3px;
  height: auto;
  width: 152px;
  position: relative;
}

.css-whole {
  display: flex;
  flex-direction: column;
  border-color: grey;
}

.css-p1 {
  margin: 16px;
}

.css-p2 {
  display: flex;
  max-width: 100%;
  margin: 0px auto;
}

.css-desc {
  display: flex;
  flex-direction: column;
  background-color: var(--chakra-colors-neutral-100);
  padding: var(--chakra-space-4);
  text-align: left;
}

.css-desc-text {
  color: var(--chakra-colors-neutral-black);
  font-weight: var(--chakra-fontWeights-medium);
  line-height: 1.3;
  overflow: hidden;
  padding-left: 20px;
  width: 200px;
}

.price-text1 {
  letter-spacing: 0.004rem;
  color: var(--chakra-colors-neutral-500);
  text-transform: capitalize;
  font-size: var(--chakra-fontSizes-xs);
  font-family: var(--chakra-fonts-suisseIntlMedium);
  overflow: hidden;
  margin-top: 0.25rem;
  line-height: 1.3;
  padding-left: 20px;
}

.price-text2 {
  letter-spacing: 0.004rem;
  color: black;
  text-decoration: 2px solid;
  font-size: x-large;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 20px;
}

.hot-right-now,
.new-release {
  display: inline-block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-right: 700px;
  width: 200px;
}

.see-all {
  display: inline-block;
  color: blueviolet;
  font-size: larger;
}

.see-all:hover {
  color: black;
  text-decoration: underline;
}

.image-container {
  display: flex;
  width: 1000px;
}

.image-slide {
  padding: 10px;
}

.image-single {
  width: 230px;
  position: relative;
}

.image-learn-more {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.image-learn-more img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.image-learn-more .btn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(204, 202, 202);
  color: white;
  font-size: 11px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.image-learn-more .btn:hover {
  background-color: rgb(112, 112, 172);
}

.footer {
  display: block;
  min-height: 300px;
  background: #111;
  width: 100%;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#colophonF {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 85px;
  padding-bottom: 20px;
  opacity: 1;
  transform: translate(0);
}

.row {
  display: flex;

  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.myColF {
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.footerBox h3 {
  color: #fff;
  font-weight: normal !important;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 17px;
  margin-top: -50px;
  text-transform: capitalize;
  line-height: 1.2;
}

ul {
  padding-inline-start: 0px;
}

.ml-auto {
  margin-left: auto !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.item {
  padding-top: 5px;
}

a.list-text {
  color: rgb(170, 170, 170);
}

a.list-text:hover {
  color: blue;
  text-decoration: underline;
}

.social-button {
  text-align: left;
}

.list-icon {
  line-height: 1.142857142857143;
  font-size: 28px;
  margin-left: 16px;
  display: inline-block;
}

.icon {
  color: #7e7e7e;
}

.list-icon-link {
  fill: #7e7e7e;
  transition: fill 0.2s;
}

#social-media {
  padding-left: 40px;
}

.copyright72 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.copyright-row {
  opacity: 1;
  transform: translate(0);
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.copyright-line {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.copyright-text {
  display: inline-block;
  color: #fff;
}

.sub-menu {
  display: none;
  z-index: 10;
}

ul.navbar-nav.mr-auto .brand-menu:hover .sub-menu {
  display: block;
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgb(154, 154, 197),
    rgb(180, 179, 179)
  );
  margin-top: 15px;
  margin-left: 15px;
}

ul.navbar-nav.mr-auto .brand-menu:hover .sub-menu ul li {
  display: block;
  margin: 5px;
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

ul.navbar-nav.mr-auto .brand-menu:hover .sub-menu ul li:last-child {
  border-bottom: none;
}

ul.navbar-nav.mr-auto .brand-menu:hover .sub-menu ul li a:hover {
  color: gold;
}

.navbar-nav.mr-auto {
  font-family: "Vujahday Script", cursive;
  color: purple;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.navbar-nav.mr-auto .brand-menu:hover {
  color: gold;
}
